$appBg: #232845;

$CarouselBgBody: #2c3150;

$lockedCardBgLight: #252a59;
$lockedCardTxt: #8e93ae;

$activeCardBgLight: #606dc4;
$activeCardTitles: #9fa7db;

$blueBorder: #4f60ba;

$blue: #5f6dc5;
$grey: #535876;
$lightgrey: #8a8fac;
$white: #fff;
$orange: #ff5d4d;
$black: #0c0f18;
$shadow: #1a1d2e;

$carouselGradient1: #fff;
$carouselGradient2: #ff5d4d;
$carouselGradient3: #87454a;
$carouselGradient4: #543850;

$cardPlayedBgHeader: #394076;
$cardActiveBgHeader: #606dc4;
$cardLockedBgHeader: #353a58;

$cardLockedLvl: #8e94ae;

$cardPlayedHeaderDist: #7f87a8;

$cardScoreBg: #414a89;
$cardScoreText: #252a49;
